.main {
  padding-bottom: 1rem;
}
.header-nav a:hover {
  background-color: #6d6d6d;
}
.card-panel .title {
  margin-top: 0;
}
.social a {
  margin: 0 .5rem 1rem;
  color: black;
  font-weight: bold;
}
.twitter-widget {
  margin-top: 1rem;
}
footer.page-footer {
  padding-top: 0;
}
.page-footer,
.page-footer a {
  font-weight: bold;
  color: #6d6d6d;
}
.page-footer a:hover {
  color: #4d4d4d;
}
.yellow { 
  background-color: #fcd74d !important
}
.yellow-text {
  color: #fcd74d !important;
}
u {
  text-decoration: none;
  border-bottom: 1px dotted;
}