img {
  max-width: 100%;
}
.main {
  padding-bottom: 1rem;
}
.header-nav a:hover {
  background-color: #6d6d6d;
}
.description {
  font-size: 1.3rem;
}
.card-panel .title {
  margin-top: 0;
  font-size: 2.28rem;
}
.card-panel .subtitle {
  font-size: 1.64rem;
  font-style: italic;
}
.meetup {
  font-size: 1.2rem;
}
.meetup .subscribe {
   font-weight: bold;
}
.meetup .separator {
  display: block;
  width: 50%;
  margin: 30px auto;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
}
.meetup .sponsor {
  display: inline-block;
  padding: 10px;
  margin: auto 5px;
  border: 1px solid transparent;
}
.meetup .sponsor:hover {
    border-color: #eee;
}
.meetup .sponsor img {
  max-height: 90px;
  max-width: 150px;
  vertical-align: middle;
}
.meetup .sponsor.sponsor--gold {
  margin-bottom: 20px;
}
.meetup .sponsor.sponsor--gold img {
  max-height: 180px;
  max-width: 320px;
}
.talks ul li,
.agenda ul li {
  list-style-type: disc;
  margin-left: 20px;
}
.talks ul ul li,
.agenda ul ul li {
  list-style-type: circle;
}
.social a {
  margin: 0 .5rem 1rem;
  color: black;
  font-weight: bold;
}
.twitter-widget {
  margin-top: 1rem;
}
footer.page-footer {
  padding-top: 0;
}
.page-footer,
.page-footer a {
  color: #6d6d6d;
  font-weight: bold;
}
.page-footer a:hover {
  color: #4d4d4d;
}
.yellow {
  background-color: #fed944 !important
}
.yellow-text {
  color: #fed944 !important;
}
u {
  border-bottom: 1px dotted;
  text-decoration: none;
}
.github-ribbon {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
  z-index: 1000;
}
.flash p {
  background-color: #fed944;
  border-radius: 15px;
  font-size: 1.2rem;
  padding: 5px;
}
.flash p i {
  vertical-align: top;
}
